.rm_calendarMonth {
  width: 100%;
}

.rm_calendarMonth-cell {
  text-align: center;
  width: 43px;
  cursor: pointer;
}

.rm_calendarMonth-weekdayHead {
  color: green;
}

.rm_slide-left-enter {
  transform: translate(-100%);
}

.rm_slide-left-enter.rm_slide-left-enter-active {
  transform: translate(0);
  transition: transform 0.1s ease-in-out;
}

.rm_slide-left-leave {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0);
}

.rm_slide-left-leave.rm_slide-left-leave-active {
  transform: translate(100%);
  transition: transform 0.1s ease-in-out;
}

.rm_slide-right-enter {
  transform: translate(100%);
}

.rm_slide-right-enter.rm_slide-right-enter-active {
  transform: translate(0);
  transition: transform 0.1s ease-in-out;
}

.rm_slide-right-leave {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0);
}

.rm_slide-right-leave.rm_slide-right-leave-active {
  transform: translate(-100%);
  transition: transform 0.1s ease-in-out;
}

.rm_day {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.rm_day-label {
  width: 26px;
  height: 26px;
  text-align: center;
  padding: 0;
  background: none;
  border: none;
  margin: auto;
  color: #34373f;
  font-weight: 700;
}

.rm_day-label:focus {
  outline: none;
}

.rm_day--outside .rm_day-label {
  color: #9f9fab;
}

.rm_day--past .rm_day-label {
  color: #ccc;
}

.rm_day--default .rm_day-label {
  color: green;
}

.rm_day--selected .rm_day-label {
  color: #fff;
  background: green;
  border-radius: 50%;
}

.rm_calendar {
  position: relative;
  overflow: hidden;
}

.rm_calendar-header {
  text-align: center;
}

.rm_calendar-body {
  position: relative;
}

.rm_calendar-btn {
  border: none;
  background: none;
  cursor: pointer;
  height: 30px;
}

.rm_calendar-btn:focus {
  outline: none;
}

.rm_calendar-calendarMonth {
  border-collapse: collapse;
  width: 100%;
}

.rm_calendar-monthSwitch--next, .rm_calendar-monthSwitch--previous {
  width: 12.5%;
}

.rm_calendar-currentMonth {
  width: 75%;
  display: inline-block;
}

.rm_calendar-footer {
  text-align: center;
  height: 30px;
  background: none;
  border: none;
  width: 100%;
}

.rm_calendar-footer:focus {
  outline: none;
  cursor: pointer;
}

.rm_datepicker--popover {
  width: 360px;
}